@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #66fcf1;
    --color-text-common:#ffffff;
    --color-text-muted: #c5c6c7;
    --color-text-invert: #0b0c10;

    --color-fill-humburgur: #A4B3B6;
    --color-fill: #1f2833;

    --color-button: #0b0c10;
    --color-button-hover: #15161c;

    --color-border:#c5c6c7;
  }
  .themeOne{
    --color-text-base: #D83F87;
    --color-text-common:#ffffff;
    --color-text-muted: #A4B3B6;
    --color-text-invert: #0b0c10;

    --color-fill-humburgur: #A4B3B6;
    --color-fill: #44318D;

    --color-button: #0b0c10;
    --color-button-hover: #15161c;

    --color-border:#a84fb0;
  }
  .themeSecond{
    --color-text-base: #86c232;
    --color-text-common:#ffffff;
    --color-text-muted: #474b4f;
    --color-text-invert: #0b0c10;

    --color-fill-humburgur: #9b6e70;
    --color-fill: #222629;

    --color-button: #0b0c10;
    --color-button-hover: #15161c;

    --color-border:#8cc298;
  }
  .themeThird{
    --color-text-base: #47544a;
    --color-text-common:#ffffff;
    --color-text-muted: #17252a;
    --color-text-invert: #0b0c10;

    --color-fill-humburgur: #def2f1;
    --color-fill: #3aafa9;

    --color-button: #0b0c10;
    --color-button-hover: #15161c;

    --color-border:#c5c6c7;
  }
}


